@charset "utf-8";
nav.menu_wrap{
	width: 980px;height:45px;
	margin:0 auto;background-color:skyblue;
}
nav.menu_wrap>ul{}
nav.menu_wrap>ul:after{content:"";clear:both;display:block;}
nav.menu_wrap>ul>li{float:left;}
nav.menu_wrap>ul>li>a{
	width:163.33px;display:block;line-height:45px;
	text-align:center;font-weight:bold;
}
nav.menu_wrap>ul>li>a:hover{background-color:blue;color:white;}